
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-size: 16px;
 background-color:#EDF2E9; 
font-family: "Inter", sans-serif;
}

body {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #565E66;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  font-weight: 500;
}

.intro{
  border-radius: 15px 15px 0px 0px;
}


 .brand{
  font-weight: 850;
}

.outro{
border-radius: 0px 0px 15px 15px;
}

h3{
   padding: 1rem;
  font-size: .5rem;
  background-color: #565E66;
  text-align: right;
  letter-spacing: 1px;
  color: white;
  font-weight: 200;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: .4em;
  padding-top: .4em;
  font-weight: 700;
}

p {
  padding-bottom: .6em;
  font-weight: 300;
}

a {
  font-size: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-style: italic;
  font-weight: 700;
}

a:hover{
  text-decoration: underline;
}

.grid-content{
    display: grid;
    grid-template: repeat(3, 250px) / repeat(2, 250px);
  /*Alternate layout test--->
  grid-template-columns: 2fr 3fr;
  */
}

.text1, .text3, .text2 {
  padding: 2rem 1.5rem 0 1rem;
  text-align: center;
  color: white;
}

.text1 {
  background-color: #50634D;
}

.text2 {
  background-color: #805C5C;
}

.text3 {
  background-color: #7C5C80;
}

.image1 {
  background-image: url("https://i.pinimg.com/originals/cd/45/68/cd45682f2df32f33bd67b44e586aebc8.jpg");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/abandoned-garden-with-palm-trees-roman-robroek.jpg");
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url("https://i.ytimg.com/vi/7EVRpmG_6s0/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
}
